body {
    background-color: #FFF;
}

h2.form-header {
    margin-top: 0px;
}

.navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-toggle:hover {
    background-color: #0066ff;
}

.navbar {
    background: #000099;
}

a.navbar-brand:link,
a.navbar-brand:visited,
a.navbar-brand:hover,
a.navbar-brand:active {
    color:#FFF;
    text-decoration: none;
    font-weight: bold;
}

a.navbar-item:link,
a.navbar-item:visited,
a.navbar-item:active,
.nav > li > a.navbar-item {
    color:#FFF;
    text-decoration: none;
    font-weight: 400;
    background-color: transparent;
}

a.navbar-item:hover,
.nav > li > a.navbar-item:hover {
    background-color: #4040cf;
}

.navbar-text {
    color: #FFF;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 200;
}

.box {
    max-width: 320px;
    padding: 15px;
    margin: 0 auto;

    margin-top: 40px;
    margin-bottom: 40px;
    background: #E6E6E6;
    border-radius: 5px;
}

.form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-register input[name="name"] {
    /*margin-top: 10px;*/
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-register input[name="email"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-register input[name="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-register input[name="confirm_password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-register input[name="admin_password"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-group-item-subtitle {
    color: #888;
}

.list-group-item-text {
    font-weight: bold;
}

.list-group {
    max-width: 320px;
    margin: 0 auto;
}

.panel {
    max-width: 320px;
    overflow-x: scroll;
}

.project-name {
    margin-bottom: 20px;
}

.project-text-name {
    margin: 0px;
    font-weight: bold;
    font-size: 28px;
}

.project-text-alias {
    color: #888;
    font-weight: bold;
    font-size: 18px;
}

.panel-table {
    max-width: 100%;
    overflow-x: auto;
}

th {
    text-align: center;
    vertical-align: middle !important;
}

td {
    vertical-align: middle !important;
}

.table>tbody>tr>th, .table>tbody>tr>td {
    /*padding: 4px;*/
}

.table-hover>tbody>tr:hover, .table-hover>tbody>tr:hover>th {
    background-color: transparent;
}

.table-hover>tbody>tr:hover>td {
    background-color: transparent;
}

.panel-status {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 25px;
}

.status-title {
    font-weight: bold;
    font-size: 18px;
}

.status-content {
    font-weight: bold;
    font-size: 36px;
}

.status-misc {
    font-size: 14px;
}

.button-dropdown {
    background-color: #E6E6E6;
    margin-bottom: 5px;
}

.input-task {
    margin-bottom: 10px;
}